<footer>
    <div class="f-info">
        <div class="socials"><i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-github"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <br>
        <div class="brand">&copy; Wanderlust private Limited</div>
        <br>
        <div class="links">
            <a href="/privacy">Privacy</a>&nbsp;&nbsp;&nbsp;
        <a href="/terms">Terms</a>
        </div>
    </div>
</footer>