<% layout("/layouts/boilerplate") %>
    <br><br>
    <div class="col-8 offset-2">
        <h3>Create a New Listing</h3>
        <form method="POST" action="/listings" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input name="listings[title]" placeholder="Add a catchy title" type="text" class="form-control" required/>
            </div>
            <div class="mb-3">
                <label for="decription" class="form-label">Description</label>
                <textarea name="listings[description]" placeholder="enter description" class="form-control" required></textarea>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input name="listings[image]" placeholder="enter image URL" type="text" class="form-control" required/>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="listings[price]" placeholder="enter price" type="number" class="form-control" required/>
                </div>
                <div class="invalid-feedback">Enter a valid price</div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input name="listings[country]" placeholder="India" type="text" class="form-control" required/>
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input name="listings[location]" placeholder="Jaipur, Rajasthan" type="text" class="form-control" required/>
            </div>
             
            <button class="btna">Add</button>
        </form>
    
    
    </div>
    